<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Alpha - Blog</h1>
    <h2>Home Page </h2>
    <%= link_to 'Articles Listing ' ,articles_path %>
    <%= link_to 'About Page' , about_path %>
  </body>
</html>
