<% flash.each do |name,msg| %>
<% if name == 'notice' %>
<div class="alert alert-success" role="alert">
<%= msg %>
</div>
<% elsif name == 'danger' %>
<div class="alert alert-danger" role="alert">
<%= msg %>
</div>
<% end %>

<% end %>
